html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  color: #555;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
img {
  border: none;
}
.loading5 {
  @anim _time;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2), inset 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: colors 30s infinite normal;
}
.loading5:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background: radial-gradient(at top, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0) 30%), rgba(255, 255, 255, 0);
  animation: rotation 2s infinite normal;
}
.loading5:after {
  content: "";
  background: white;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 17.5px;
  left: 17.5px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
}
@keyframes colors {
  0% {
    background: red;
  }
  16% {
    background: orange;
  }
  32% {
    background: yellow;
  }
  48% {
    background: green;
  }
  64% {
    background: blue;
  }
  80% {
    background: purple;
  }
  100% {
    background: red;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading6 {
  @anim _time;
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  animation: rotation6 1s infinite normal;
  animation-timing-function: linear;
}
.loading6:before {
  content: "";
  background: #e9e9f9;
  position: absolute;
  top: 52.5px;
  left: 52.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  animation: atom_move1 3s infinite normal;
  animation-timing-function: linear;
}
.loading6:after {
  content: "";
  background: #e9e9f9;
  position: absolute;
  top: 0;
  left: 52.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  animation: atom_move2 3s infinite normal;
  animation-timing-function: linear;
}
@keyframes rotation6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes atom_move1 {
  0% {
    top: 52.5px;
  }
  25% {
    left: 112.5px;
  }
  50% {
    width: 27.27272727px;
    height: 27.27272727px;
    background: white;
  }
  75% {
    left: 7.5px;
  }
  100% {
    top: 52.5px;
  }
}
@keyframes atom_move2 {
  0% {
    top: 0;
  }
  25% {
    width: 27.27272727px;
    height: 27.27272727px;
  }
  50% {
    top: 112.5px;
    width: 15px;
    height: 15px;
  }
  75% {
    width: 27.27272727px;
    height: 27.27272727px;
  }
  100% {
    top: 0;
  }
}
.loading7 {
  display: block;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0);
  border-radius: 50%;
  position: relative;
  animation-timing-function: linear;
  /**/
  /* */
  /*  */
}
.loading7:before {
  content: "";
  background: #bae5ef;
  position: absolute;
  width: 20;
  height: 0;
  top: 30px;
  left: 40px;
  border-radius: 50%;
  animation: l74 1.5s infinite normal;
  animation-timing-function: linear;
}
.loading7:after {
  content: "";
  background: #bae5ef;
  position: absolute;
  width: 0;
  height: 0;
  top: 40px;
  left: 40px;
  border-radius: 50%;
  animation: l74 1.5s infinite normal;
  animation-delay: 0.75s;
  animation-timing-function: linear;
}
@keyframes l71 {
  0% {
    background: #bae5ef;
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes l72 {
  0% {
    background: #ffffff;
    width: 53.33333333px;
    height: 53.33333333px;
    top: 13.33333333px;
    left: 13.33333333px;
  }
  100% {
    background: #bae5ef;
    width: 80px;
    height: 80px;
    top: 0px;
    left: 0px;
  }
}
@keyframes l73 {
  0% {
    width: 0;
    height: 0;
    top: 40px;
    left: 40px;
  }
  100% {
    background: #ffffff;
    width: 53.33333333px;
    height: 53.33333333px;
    top: 13.33333333px;
    left: 13.33333333px;
  }
}
@keyframes l74 {
  0% {
    background: #bae5ef;
    width: 0;
    height: 0;
    top: 40px;
    left: 40px;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    width: 80px;
    height: 80px;
    top: 0px;
    left: 0px;
  }
}
.loading1 {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  animation: a_rotate 3s infinite steps(60);
  -webkit-animation: a_rotate 3s infinite steps(60);
  /* Chrome, Safari, Opera */
}
.loading1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 5px;
  border-right-width: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  display: inline-block;
  width: 9px;
  height: 20px;
  margin: 5px;
  margin-right: 0;
  border-radius: 20px 0 0 20px;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_border_left  2s infinite;
  -webkit-animation: a_border_left  2s infinite;
  /* Chrome, Safari, Opera */
}
.loading1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 5px;
  border-left-width: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  display: inline-block;
  width: 9px;
  height: 20px;
  margin: 5px;
  margin-left: 0;
  border-radius: 0 20px 20px 0;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_border_right  12s infinite;
  -webkit-animation: a_border_right  2s infinite;
  /* Chrome, Safari, Opera */
}
@keyframes a_rotate {
  from {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    /* Для Firefox */
    -ms-transform: rotate(0deg);
    /* Для IE */
    -webkit-transform: rotate(0deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg);
    /* Для Opera */
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    /* Для Firefox */
    -ms-transform: rotate(360deg);
    /* Для IE */
    -webkit-transform: rotate(360deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(360deg);
    /* Для Opera */
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes a_rotate {
  from {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    /* Для Firefox */
    -ms-transform: rotate(0deg);
    /* Для IE */
    -webkit-transform: rotate(0deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg);
    /* Для Opera */
  }
  to {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    /* Для Firefox */
    -ms-transform: rotate(360deg);
    /* Для IE */
    -webkit-transform: rotate(360deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(360deg);
    /* Для Opera */
  }
}
@keyframes a_border_left {
  0% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
  25% {
    border-width: 6px;
    border-right-width: 0;
    margin: 4px;
    margin-right: 0;
  }
  50% {
    border-width: 6px;
    border-right-width: 0;
    margin: 4px;
    margin-right: 0;
  }
  75% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
  100% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes a_border_left {
  0% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
  50% {
    border-width: 6px;
    border-right-width: 0;
    margin: 4px;
    margin-right: 0;
  }
  25% {
    border-width: 6px;
    border-right-width: 0;
    margin: 4px;
    margin-right: 0;
  }
  75% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
  100% {
    border-width: 4px;
    border-right-width: 0;
    margin: 6px;
    margin-right: 0;
  }
}
@keyframes a_border_right {
  0% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
  25% {
    border-width: 6px;
    border-left-width: 0;
    margin: 4px;
    margin-left: 0;
  }
  50% {
    border-width: 6px;
    border-left-width: 0;
    margin: 4px;
    margin-left: 0;
  }
  75% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
  100% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes a_border_right {
  0% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
  25% {
    border-width: 6px;
    border-left-width: 0;
    margin: 4px;
    margin-left: 0;
  }
  50% {
    border-width: 6px;
    border-left-width: 0;
    margin: 4px;
    margin-left: 0;
  }
  75% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
  100% {
    border-width: 4px;
    border-left-width: 0;
    margin: 6px;
    margin-left: 0;
  }
}
.loading2 {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.5;
}
.loading2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 5px;
  border-color: #000000;
  border-left-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);
  border-style: solid;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 30px;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_rotate 3s infinite steps(60);
  -webkit-animation: a_rotate 3s infinite steps(60);
  /* Chrome, Safari, Opera */
}
.loading2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 5px;
  border-color: #000000;
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-style: solid;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 30px;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_rotate 2s infinite steps(60);
  -webkit-animation: a_rotate 2s infinite steps(60);
  /* Chrome, Safari, Opera */
}
.loading3 {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.5;
}
.loading3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 7px;
  border-color: rgba(0, 0, 0, 0.8);
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-style: solid;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 3px;
  border-radius: 30px;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_rotate 3s infinite steps(60);
  -webkit-animation: a_rotate 3s infinite steps(60);
  /* Chrome, Safari, Opera */
}
.loading3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 5px;
  border-color: #000000;
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-style: solid;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 30px;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_rotate 4s infinite steps(120);
  -webkit-animation: a_rotate 4s infinite steps(120);
  /* Chrome, Safari, Opera */
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
}
.loading4 {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-width: 5px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.8);
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-style: solid;
  opacity: 0.5;
  border-radius: 30px;
  animation: a_rotate 2s infinite steps(60);
  -webkit-animation: a_rotate 2s infinite steps(60);
}
.loading4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.8);
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-style: solid;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_rotate 7s infinite steps(60);
  -webkit-animation: a_rotate 7s infinite steps(60);
}
.loading4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.8);
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-style: solid;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 30px;
  outline: solid 5px rgba(0, 0, 0, 0);
  animation: a_rotate 4s infinite steps(60);
  -webkit-animation: a_rotate 4s infinite steps(60);
}

/*# sourceMappingURL=style.css.map */